.bottom{	
    height:2em;
	bottom:3px;
	width:100%;
	}
.left{
    transform:rotate(10deg);
	float:left;
	}
.right{
    transform:rotate(-10deg);
	float:right;
	}
.header{
	size:120%;
	color:cyan;
	}
.green{
	color:green;
	}
.orange{
	color:orange;
	}
.yellow{
	color:yellow;
	}
.purple{
	color:purple;
	}
.centre{
	display: table;
    margin: 0 auto;
	background:red;
	width:100%;
	text-align:center;
}	
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	float:right;
	color:red;
	}
p,h1 {
	text-align:center;
	}	
p{
	font-size:110%;
	}
img{
	height:10em; 
	width:10em; }
html{
	background-image:url('images/starry.jpg');
	background-size:100% 100%;
	background-repeat: no-repeat;
	height:125%;
	}
ul li{
	text-align:center;
   }
 ul{
	padding:0 0 19em 0;
	}
a{
	margin-right:10em;
	font-size:130%;
	color:white;
	}
a:hover{
	color:yellow;
	}
a:link {
    text-decoration: none;
	}
