.header{
	background-image:url('images/goodbanner.jpg');
	text-align:center;
	background-repeat:no-repeat;
	background-size:100%;
	font-size:350%;
	height: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
	}
.size1{
	height:10em; 
    width:10em; 
	float:left;
	}
.size2{
	height:10em; 
    width:10em;
	float:right;		
	}	
.margins{
	margin-left:10em;
	margin-right:20em;
	}
.centre{
	display: table;
    margin: 0 auto;
	background: linear-gradient(grey, black);
	width:100%;
	text-align:center;
	}
.bottom{	
    height:2em;
	bottom:3px;
	width:100%;
	text-align:center;
	background: linear-gradient(grey, black);
	color:white;
	}
body {
	padding:0; 
	margin:0; 
	margin-top: 0; 
	}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	float:right;
	background-color: #dddddd;
	}
ul li{
	text-align:center;
   }
a{
	margin-right:10em;
	font-size:130%;
	color:white;
	}
a:hover{
	color:blue;
	}
a:link {
    text-decoration: none;
}
